<p>cryptinfo works!</p>
<div>
  <p>
    <span>Rank: {{crypto.market_cap_rank}}</span>
    <span>Symbol: {{crypto.symbol}}</span>
    <span>Price: {{crypto.current_price}}</span>
    <span>Market Cap: {{crypto.market_cap}}</span>
    <span>Market Cap Rank: {{crypto.market_cap_rank}}</span>
    <span>Market Cap Change 24h: {{crypto.market_cap_change_24h}}</span>
    <span>Market Cap Change Percentage 24h: {{crypto.market_cap_change_percentage_24h}}</span>
    <span>Market Cap Change Percentage 7d: {{crypto.market_cap_change_percentage_7d}}</span>
    <span>Market Cap Change Percentage 14d: {{crypto.market_cap_change_percentage_14d}}</span>
    <span>Market Cap Change Percentage 30d: {{crypto.market_cap_change_percentage_30d}}</span>
    <span>Market Cap Change Percentage 60d: {{crypto.market_cap_change_percentage_60d}}</span>
    <span>Market Cap Change Percentage 200d: {{crypto.market_cap_change_percentage_200d}}</span>
    <span>Market Cap Change Percentage 1y: {{crypto.market_cap_change_percentage_1y}}</span>


  </p>
  <div>{{crypto.description.en}}</div>

  <div>
    <div *ngFor="let char of chartInfoTabPrices">
      <div>{{getDate(char[0])}}</div>
      <div>{{char[1]}}</div>
      </div>
  </div>
</div>


