<div class="container">
  <div class="left">
    <div class="infos-head">
      <h1 class="coin-title"><img src="{{crypto.image.small}}"> {{crypto.name}}</h1>
      <p class="coin-symbol">({{crypto.symbol.toUpperCase()}}) <span class="coin-rank"> Rang : #{{crypto.market_cap_rank}}</span></p>
    </div>
    <div class="infos-body">
      <span>Prix: {{crypto}}</span>
    </div>
  </div>
  <div class="right">

  </div>
</div>

<div>{{crypto.id}}</div>
<div>{{crypto}}</div>

<div>{{crypto.description.en}}</div>
