content {
  background-color: #CCC9DC;
}

#titre {
    font-weight: bold;
    color: #1B2A41;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Ubuntu;
}

.fiche {
  background-color: #1B2A41;
  border: 10px solid #CCC9DC;
  border-radius: 30px;
  text-align: center;
  padding: 20px;
}

.name {
    font-weight: bold;
    color: #CCC9DC;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Ubuntu;
}

.job {
    font-weight: bold;
    color: #CCC9DC;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Ubuntu;
}

.pp {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  box-shadow: 10px 10px 10px #0C1821;
}

.desc {
  font-family: Ubuntu;
  color: #CCC9DC;
}


.link {
  font-size: 36px;
  color: #CCC9DC;
}
