.general {
    height: 6%;
    border: 1px solid;
    background-color: #0B0C10;
    color: #66FCF1;
    font-size: large;
    border: none;
    box-shadow: 0 0 10px #66FCF1;
    position: fixed;
}

.gras {
    font-weight: bold;
}

.tab {
  text-decoration: none;
}

#logo-nav {
  height: 50px;
  width: 316px;
}
