

  <div class="w3-col crypto-all">


<form (ngSubmit)="submit()" [formGroup]="userForm">​

  <div>​

      <label>Search</label>​

      <input type="text" formControlName="search">​

  </div>​

  <button type="submit">Search</button>​

  </form>​

  <app-crypto (nameOut)="onName($event)" [name]="crypto.name" [symbol]="crypto.symbol" [image]="crypto.image" [current_price]="crypto.current_price" [market_cap]="crypto.market_cap" [market_cap_rank]="crypto.market_cap_rank" *ngFor="let crypto of cryptos"></app-crypto>

  </div>

