.crypto-all{
  background-color: #0B0C10;
  margin-top: 60px;
  margin-bottom: 60px;
}

.tab {
  width: 100%;
  background-color: #0B0C10;
  color: #C5C6C7;
  text-align: center;
  border: 2px solid #66FCF1;
  border-radius: 10px;
}

thead, tr, th {
  border-bottom: 2px solid #66FCF1;
}

.rank-head, .logo-head, .name-head, .price-head, .symbol-head {
  border-right: 2px solid #66FCF1;
}

.rank {
  width: 5%;
  border-right: 2px solid #66FCF1;
}

.logo {
  width: 5%;
}

.name {
  width: 20%;
}
