.crypto-all{
  background-color: #0B0C10;
  margin-top: 80px;
  margin-bottom: 60px;
}

.tab {
  width: 100%;
  background-color: #0B0C10;
  color: #C5C6C7;
  text-align: center;
  border: 2px solid #45A29E;
  border-radius: 10px;
  /*margin-left: 5%;*/
  margin-right: 1000px;
}

thead, th {
  border-bottom: 2px solid #45A29E;
  font-size: 20px;
  font-weight: bold;
}

.rank-head, .logo-head, .name-head, .price-head, .symbol-head {
  border-right: 2px solid #45A29E;
}

.rank {
  border-right: 2px solid #45A29E;
}

.spin{
  display: inline;
  position: relative;
  left: 50%;
}

.filters {
  display: flex;
  justify-content: right;
}
