<div class="w3-col crypto-all">
  <app-filter-crypto-all (searchOut)="search($event)"></app-filter-crypto-all>

  <mat-progress-spinner class="spin" color="primary" [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
  <table mat-table>
    <thead>
      <tr>
        <th class="rank-head">Rang</th>
        <th class="logo-head">Logo</th>
        <th class="name-head">Nom</th>
        <th class="symbol-head">Symbole</th>
        <th class="price-head">Prix</th>
        <th class="mk-cap-head">Market Cap</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let crypto of cryptos" routerLink="/coins/{{crypto.id}}">
        <td>{{crypto.market_cap_rank}}</td>
        <td><img src={{crypto.image}} style="height: 30px; width: 30px;"></td>
        <td>{{crypto.name}}</td>
        <td>{{crypto.symbol}}</td>
        <td>{{currencySymbole}}{{crypto.current_price}}</td>
        <td>{{currencySymbole}}{{crypto.market_cap}}</td>
      </tr>
    </tbody>
  </table>

</div>

