<!DOCTYPE html>
<form (ngSubmit)="submit()" [formGroup]="userForm">​
  <div>​

  </div>​
  <div>​
<select formControlName="filterCurrency">
  <option selected="selected" value="usd">usd</option>
  <option value="eur">eur</option>
  <option value="jpy">jpy</option>
  <option value="gbp">gbp</option>
  <option value="aud">aud</option>
  <option value="cad">cad</option>
  <option value="chf">chf</option>
  <option value="cny">cny</option>
  <option value="inr">inr</option>
  <option value="rub">rub</option>
  <option value="krw">krw</option>
  <option value="btc">btc</option>
  <option value="eth">eth</option>
</select>
<select formControlName="filterOrder">
  <option selected="selected" value="market_cap_desc">market_cap_desc</option>
  <option value="market_cap_asc">market_cap_asc</option>
  <option value="gecko_desc">gecko_desc</option>
  <option value="gecko_asc">gecko_asc</option>
  <option value="volume_desc">volume_desc</option>
  <option value="volume_asc">volume_asc</option>
  <option value="id_desc">id_desc</option>
  <option value="id_asc">id_asc</option>
</select>
  </div>
</form>


