<!-- <div class="w3-padding crypto" (click)="onClick()" routerLink="/coins/{{id}}">
  {{market_cap_rank}} <img src={{image}} style="height: 30px; width: 30px;"> {{name}} {{symbol}} {{current_price}} {{market_cap}}
</div> -->
<tr class="w3-padding crypto" (click)="onClick()" routerLink="/coins/{{id}}">
  <td>{{market_cap_rank}}</td>
  <td><img src={{image}} style="height: 30px; width: 30px;"></td>
  <td>{{name}}</td>
  <td>{{symbol}}</td>
  <td>{{current_price}}</td>
  <td>{{market_cap}}</td>
</tr><br>

